PORT=
NODE_ENV=
RESOURCE_ORIGIN=
DATABASE_URI=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
XSS_PROTECTION=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FILE_MAX_TOTAL_SIZE =
RABBITMQ_URL=